<section id="About ">
    <div class="container">
        <div class="about__header">
            <div class="caption-top pt-3">
                <div class="content text-center">
                    <h2 class="text-capitalize">about me</h2>
                </div>
            </div>
        </div>

        <div class="about__body">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="about__content">
                        <div class="who__me position-relative"> </div>
                        <div class="info_for_me">
                            <h5>About <span class="arr">me</span></h5>
                            <h1 class="h3 WHO">Who Am I!</h1>
                            <p class="sub__about__me">
                                My name is
                                <Span class="arr fw-bold">Shrouk Ziada</Span>, and I am passionate frontend web developer. I have always been fascinated by the intersection of design and technology, and I am thrilled to be able to bring my creative ideas to life through coding. My primary focus
                                is on frontend development. where I excel in crafting beautiful user interface that are both visually appealing and user-friendly. My technology skills include proficiency in Html5, Css3, JavaScript, and various frontend
                                framework such as Angular. I am well-versed in responsive design principles, ensuring that website look great and function seamlessly across different devices and screen sizes. Continuously learning and staying-up-to-date
                                with the latest trends and technologies is a priority for me. I am always exploring new tools, framework, and techniques to enhance my skills.
                            </p>
                        </div>
                        <div id="btn">
                            <a href="https://drive.google.com/file/d/1YYzyeqZGy3lqHutpz_SdR2X7dr5d1gfj/view?usp=drive_link">
                                <button type="button" class="button">
                                  <span class="button__text">Download CV</span>
                          </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="about__img">
                        <img src="assets/image/me.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
