<section id="projects">
    <div class="container">
        <div class="akills__header">
            <div class="caption-top pt-3">
                <div class="content text-center">
                    <h2 class="text-capitalize">projects</h2>
                </div>
            </div>
            <div class="projects__body ">
                <div class="row py-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://route-e-commerce-seven.vercel.app/login">
                                                <img src="assets/image/frshcart.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">Fresh Cart</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>The Angular e-commerce project is a modern and dynamic web application designed to provide a seamless and intuitive online shopping experience.</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4 " role="button"><span class="pe-3">view</span>
                                              <a href="https://route-e-commerce-seven.vercel.app/login">
                                                <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                            </a>
                                            </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                            <a href="https://github.com/ShroukZiada/route-E-commerce" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://game-over-two.vercel.app/home" class="me-3">
                                                <img src="assets/image/games.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">FreeToGame</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>Free-to-play games database powered by FreeToGame.com! FreeToGame is a gaming platform that provides access to the best free-to-play games and MMO Games while rewarding gamers with perks.</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <button class="button-89 px-4" role="button"><span class="pe-3">View</span>
                                        <a href="https://game-over-two.vercel.app/home">
                                          <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                      </a>
                                      </button>
                                            <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                        <a href="https://github.com/ShroukZiada/gameOver" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                       </button>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://movies-review-eight.vercel.app/#/home" class="me-3">
                                                <img src="assets/image/movie-angular.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4  card-title text-uppercase">MovieApp </h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>The Movie App Angular project , is`s an app for displaying movies And Tv series from TMDB API.</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">View</span>
                                            <a href="https://movies-review-eight.vercel.app/#/home" class="me-3">
                                                <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                            </a>
                                          </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                            <a href="https://github.com/ShroukZiada/movies-review" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://crud-gamma-seven.vercel.app/" class="me-3">
                                                <img src="assets/image/crud.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">CRUD</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>The Angular store-management system project apply Create, remove, update, delete employee using json server.</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">View</span>
                                            <a href="https://crud-gamma-seven.vercel.app/" class="me-3">
                                                <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                            </a>
                                          </button>
                                            </li>
                                            <li class="nav-link ">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                            <a href="https://github.com/ShroukZiada/CRUD" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://shroukziada.github.io/Movie-App/" class="me-3">
                                                <img src="assets/image/moviejs.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">MovieApp</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>The Movie App javaScript project , is`s an app for displaying movies from TMDB API.</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">View</span>
                                             <a href="https://shroukziada.github.io/Movie-App/" class="me-3"> <i class="fa-solid arr fa-arrow-up-right-from-square"></i></a>
                                            </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                            <a href="https://github.com/ShroukZiada/Movie-App" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://shroukziada.github.io/CRUDS/" class="me-3">
                                                <img src="assets/image/cruds.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4  card-title text-uppercase">cruds</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>The javascript store-management system project apply Create, remove, update, delete ,and search data using local storage</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">View</span>
                                          <a href="https://shroukziada.github.io/CRUDS/" class="me-3">
                                              <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                          </a>
                                        </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                          <a href="https://github.com/ShroukZiada/CRUDS" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                        </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://shroukziada.github.io/Receipts-WebSite/" class="me-3">
                                                <img src="assets/image/res.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">food recipes</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>a responsive project with pure Html,Css, and JavaScript, it show all food recipes.</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">View</span>
                                            <a href="https://shroukziada.github.io/Receipts-WebSite/" class="me-3">
                                                <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                            </a>
                                          </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                            <a href="https://github.com/ShroukZiada/Receipts-WebSite" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://white-hall.vercel.app/" class="me-3">
                                                <img src="assets/image/white-hall.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">White Hall</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>a responsive project with pure Html5 and Css3.</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Views</span>
                                              <a href="https://white-hall.vercel.app/" class="me-3">
                                                  <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                              </a>
                                            </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                              <a href="https://github.com/ShroukZiada/White-Hall" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                            </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card ">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://shroukziada.github.io/Kerii/" class="me-3 ">
                                                <img src="assets/image/kerri.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">kerri</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>a responsive project with pure Html,Css, and JavaScript.</p>
                                        <ul class="d-flex justify-content-around align-items-center ">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                            <a href="https://shroukziada.github.io/Kerii/" class="me-3 ">
                                                <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                            </a>
                                          </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                            <a href="https://github.com/ShroukZiada/Kerii" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                          </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://shroukziada.github.io/Receipts-WebSite/" class="me-3">
                                                <img src="assets/image/cake.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">cake store</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>a simple project using Html, Css, and jQuer. When hover over the image the image changes</p>
                                        <ul class="d-flex justify-content-around align-items-center">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">View</span>
                                          <a href="https://shroukziada.github.io/Cake-Store/" class="me-3">
                                              <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                          </a>
                                        </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                          <a href="https://github.com/ShroukZiada/Cake-Store" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                        </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="gradient-border ">
                            <div class="flip-card ">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="card-header position-relative  bg-transparent ">
                                            <a href="https://shroukziada.github.io/Kerii/" class="me-3 ">
                                                <img src="assets/image/portfoilo.png" class="img-fluid" alt="">
                                            </a>
                                            <h1 class="h4 card-title text-uppercase">portfoilo</h1>
                                        </div>
                                    </div>
                                    <div class="flip-card-back">
                                        <p>a simple Html,Css project. the website is responsive without framework</p>
                                        <ul class="d-flex justify-content-around align-items-center ">
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">view</span>
                                          <a href="https://shroukziada.github.io/portfolio/" class="me-3 ">
                                              <i class="fa-solid arr fa-arrow-up-right-from-square"></i>
                                          </a>
                                        </button>
                                            </li>
                                            <li class="nav-link">
                                                <button class="button-89 px-4" role="button"><span class="pe-3">Repo</span>
                                          <a href="https://github.com/ShroukZiada/portfolio" class="github__logo"><i class="fa-brands fa-github "></i></a>
                                        </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
