<section id="skills" class=" ">
    <div class="container">
        <div class="row py-5">
            <div class="akills__header">
                <div class="caption-top pt-3">
                    <div class="content text-center">
                        <h2 class="text-capitalize">skills</h2>
                    </div>
                </div>

                <div class="skills__body gradient-border mt-3 p-5 ">
                    <h1 class="h4 skills_title"> Frontend Skills</h1>
                    <div class="row px-5 py-3">
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center html">
                                <div class="skill__text ">
                                    <span class="html5">Html5</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/html-5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center css">
                                <div class="skill__text ">
                                    <span class="css3">Css3</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/css3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center js ">
                                <div class="skill__text ">
                                    <span class="js">javaScript</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/js.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center jq">
                                <div class="skill__text ">
                                    <span class="jq">jQuary</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/jquery.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-5 py-3">
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center bs">
                                <div class="skill__text ">
                                    <span class="bs">BootStrap</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/bootstrap.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center s">
                                <div class="skill__text ">
                                    <span class="sass">Sass</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/sass.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center ts ">
                                <div class="skill__text ">
                                    <span class="ts">typeScript</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/typescript.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center angular">
                                <div class="skill__text ">
                                    <span class="an">Angular</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/angular.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-5 py-3">
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center am">
                                <div class="skill__text ">
                                    <span class="am">Angular Material</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/angular.material.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center tc">
                                <div class="skill__text ">
                                    <span class="tc">tailwind Css</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/tailwind-css.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center git ">
                                <div class="skill__text ">
                                    <span class="Git">git</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/git.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center gh">
                                <div class="skill__text ">
                                    <span class="gh">Git-Hub</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/github.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 class="h4 skills_title"> Programming Skills</h1>
                    <div class="row px-5 py-3">
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center C__plus">
                                <div class="skill__text ">
                                    <span class="cc">C++</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/c++.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center db">
                                <div class="skill__text ">
                                    <span class="Db">DataBase</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/database.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center ds ">
                                <div class="skill__text ">
                                    <span class="Ds">Data Structure</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/data-structure.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="one__skill p-3 text-center Al">
                                <div class="skill__text ">
                                    <span class="aL">Algorithm</span>
                                </div>
                                <div class="skill__img">
                                    <img src="assets/image/algorithm.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-5 py-3">
                        <div class="col-lg-4">
                            <div class="one__skill p-3 text-center C++">
                                <div class="skill__text ">
                                    <span>Agile</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="one__skill p-3 text-center db">
                                <div class="skill__text ">
                                    <span>Design Patterns</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="one__skill p-3 text-center db">
                                <div class="skill__text ">
                                    <span>OOP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
