<section id="experience" class=" ">
    <div class="container">
        <div class="row py-5">
            <div class="experience__header">
                <div class="caption-top pt-3">
                    <div class="content text-center">
                        <h2 class="text-capitalize">experience</h2>
                        <p class="text-capitalize low-txt">I have one year Experience for Frontend Web Development,
                            <a href="https://drive.google.com/file/d/1HqBvY6f0p3pV2sAKhhilpEqV2dXKSYIw/view?usp=drive_link"><i class="arr fa-solid fa-up-right-from-square"></i></a>
                            <br> I have successfully completed the full stack web development diploma this course certified rout it center training.
                        </p>
                    </div>
                </div>
            </div>

            <div class="experience__body ">
                <div class="row py-5">
                    <div class="who__me position-relative"> </div>
                    <div class="info_for_me">
                        <h1 class="h3 WHO">What I DO!</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 gx-5">
                <div class="gradient-border ">
                    <div class="flip-card d-flex">
                        <div class="flip-card-inner m-auto justify-content-center align-content-center ">
                            <div class="flip-card-front ">
                                <div class="card-header position-relative  bg-transparent ">
                                    <div class="experience__icon text-center pb-2 fs-3">
                                        <i class="fa-solid fa-pen arr"></i>
                                    </div>
                                    <div class="experience__header pb-2 fs-3">
                                        <h1 class="h4 card-title text-capitalize text-center">creative desgin</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="experience__title">
                                <p>leveraging artistic elements and aesthetic principles to craft visually appealing user experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 gx-5">
                <div class="gradient-border ">
                    <div class="flip-card d-flex">
                        <div class="flip-card-inner m-auto justify-content-center align-content-center ">
                            <div class="flip-card-front">
                                <div class="card-header position-relative  bg-transparent ">
                                    <div class="experience__icon text-center">
                                        <i class="fa-solid fa-code arr pb-2 fs-3"></i>
                                    </div>
                                    <div class="experience__header pb-2">
                                        <h1 class="h4 card-title text-capitalize text-center">clean code</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="experience__title">
                                <p>Clean code is easier to understand, maintain, and debug, which ultimately leads to increased productivity and fewer bugs</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 gx-5">
                <div class="gradient-border ">
                    <div class="flip-card d-flex">
                        <div class="flip-card-inner m-auto justify-content-center align-content-center ">
                            <div class="flip-card-front">
                                <div class="card-header position-relative  bg-transparent ">
                                    <div class="experience__icon text-center">
                                        <i class="fa-solid fa-laptop arr pb-2 fs-3"></i>
                                    </div>
                                    <div class="experience__header pb-2">
                                        <h1 class="h4 card-title text-capitalize text-center">user interface</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="experience__title">
                                <p>Creating creative and user-friendly designs that prioritize Usability accessibility and a seamless user experience.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row py-5 ">

            <div class="col-lg-4 col-md-12 col-sm-12 gx-5">
                <div class="gradient-border ">
                    <div class="flip-card d-flex">
                        <div class="flip-card-inner m-auto justify-content-center align-content-center ">
                            <div class="flip-card-front">
                                <div class="card-header position-relative  bg-transparent ">
                                    <div class="experience__icon text-center">
                                        <i class="fa-solid fa-laptop arr pb-2 fs-3"></i>
                                    </div>
                                    <div class="experience__header pb-2">
                                        <h1 class="h4 card-title text-capitalize text-center">web application</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="experience__title">
                                <p>I can build Applications for different Purposes using Technologies that allow you more securite. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 gx-5">
                <div class="gradient-border ">
                    <div class="flip-card d-flex">
                        <div class="flip-card-inner m-auto justify-content-center align-content-center ">
                            <div class="flip-card-front">
                                <div class="card-header position-relative  bg-transparent ">
                                    <div class="experience__icon text-center">
                                        <i class="fa-solid fa-mobile-screen arr pb-2 fs-3"></i>
                                    </div>
                                    <div class="experience__header pb-2 fs-3">
                                        <h1 class="h4 card-title text-capitalize text-center">single page applicaton</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="experience__title">
                                <p>I can build professional page application using angular.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 gx-5">
                <div class="gradient-border ">
                    <div class="flip-card d-flex">
                        <div class="flip-card-inner m-auto justify-content-center align-content-center ">
                            <div class="flip-card-front">
                                <div class="card-header position-relative  bg-transparent ">
                                    <div class="experience__icon text-center">
                                        <i class="fa-solid fa-globe arr pb-2 fs-3"></i>
                                    </div>
                                    <div class="experience__header pb-2">
                                        <h1 class="h4 card-title text-capitalize text-center">websites</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="experience__title">
                                <p>I can build professional responsive web-site optimized for the most popular search engines</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>
